#black{
    background: black;
}
#white{
    background: white;
}
#yellow{
    background: yellow;
}
#blue{
    background: blue;
}
.button{
    width:100px;
    height:100px;
    border:solid black 4px;
    display: inline-block;
}
body{
    text-align: center;
}
h2{
    color: red;
}
h1{
    color: chocolate;
}