body{
    background-color: black;
}
.container{
    text-align: center;
    color: aliceblue;
    font-size: larger;
}
h2{
    background-color: yellow;
    color: red;
}
#guess{
    height: 25px;
}
#submit{
    width: 100px;
    height: 40px;
    background-color:blue;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
}
#newGame{
    border:2px solid black;
    width:20%;
    height: 50px;
    border-radius: 5px;
    background-color:blue;
    color: aliceblue;
    margin-left: 85vh;
}